@tailwind base;
@tailwind components;
@tailwind utilities;

@import './movies/movie_listing.css';
@import './movies/movie_show.css';

body {
    margin-top: 45px;
    margin: auto;
    max-width: 99%;
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
  }
  
