<form method="post" action="{{ path('app_movie_delete', {'id': movie.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
